:root {
  --base-font: 'Noto Sans', sans-serif;
}

html {
  height: 768px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
  padding: 120px 0px;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
